---
name: ci

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest

    steps:
    - name: Checkout project
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build project
      run: make

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        path: out/
